@use 'mixins.scss';


* {
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    

}
body{
    background:#081b29;
    color: #ededed;
}
.header{
position:fixed;
top:0;
left:0;
width:100%;
padding: 20px 10%;
background-color: white;
display:flex;
justify-content:space-between;
align-items: center;
z-index:100 ;

&__logo{
    width: 140px;

    @include mixins.phone {
        width: 50px;
    }
}
}

    
.navbar a{
    font-size: 20px;
    color:#081b29;
    text-decoration: none;
    font-weight: 600;
    margin-left: 35px;
    transition: .3px;
}

/*-------------------HOME-----------------*/
.home{
    height:100vh;
    display:flex;
    align-items: center;
    padding:0 10%;

    &__content{
       max-width: 600px;

       &__heading1{
        
        justify-content:center;
        font-size:56px;
        font-weight: 700;


        @include mixins.desktop {
            font-size: 60px; 
            margin-top: 200px;	
        }
        @include mixins.laptop{
            margin-top: 200px;	
        }
        @include mixins.landscape-tablet{
            margin-top: 200px;	
        }

                  }

       &__heading3{
        
        font-size: 32px;
        font-weight: 700;
        color:#00abf0;

        @include mixins.desktop {
            font-size: 30px;
        }
        @include mixins.laptop{
            font-size: 25px; 
        }


       }
          }
}


/*--------------About Me---------------*/

.about{
    padding: 80px 0;
    background-color:#081b29;
    border-top:60px solid #ededed;


    @include mixins.desktop {
		flex-direction: row;
		justify-content: space-around;
		margin-top: 20px;
		margin-left: 50px;
		margin-right: 50px;
		padding: 20px 40px;	

	}	

	@include mixins.laptop {
		flex-direction: row;
		justify-content: space-around;
		margin-top: 40px;
		margin-left: 50px;
		margin-right: 50px;
		padding: 20px 40px;
    }



}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 35%;
    color:#081b29;
}
.about-col-1 img{
    margin-left: 100px;
    padding:50px 50px;
    width:70%;
    border-radius: 15px;
}
.about-col-2{
    flex-basis:60%;
    justify-content: center;
    margin-top:1 px;
    padding-right: 500px;
    color:white;
    text-decoration:none;
}

.about-col-2 p{

font-size:20px;
text-align: justify;

}
.sub-title{
    font-size: 60px;
    font-weight: 600;
    color:white;
    padding: 60px 50px;

}




/*------------------------------Skills----------------------------------*/

.skills{
	height: 100vh;
	background:white;
	display: flex;
	flex-direction: column;
	align-items: center;


    &__heading{
        font-size: 62px;
    text-decoration: underline;
	/*border: 2px solid white;*/
	margin-top:80px;
	margin-bottom: 40px;
	padding: 50px 40px;
	text-align:left;
	color:#081b29;

    @include mixins.phone {
        font-size: 30px;  
          margin-top: 50px;
          margin-bottom: 20px;
      }
      @include mixins.tablet {
        font-size: 30px;  
          margin-top: 80px;
          margin-bottom: 20px;
      }
      @include mixins.landscape-tablet {
        font-size: 32px;  
          margin-top: 80px;
          margin-bottom: 20px;
      }
      @include mixins.laptop {
        font-size: 35px;  
          margin-bottom: 10px;
      }


    }

    &__list{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        margin-top: 110px;
        padding-left: 60px;
        padding-right: 60px;

        &__item{
            margin: 10px;
            display: flex;
            justify-content: center;
            align-items:stretch;

            &__text{
                margin-top: 20px;
                font-size: 30px;
                padding-bottom: 20px;
                padding-right: 30px;
                padding-left: 30px;
                color:#081b29;

                @include mixins.phone {
					font-size: 20px;  
					margin-top: 15px;
				}
				@include mixins.tablet {
					font-size: 22px;  
					margin-top: 18px;
				}
				@include mixins.landscape-tablet {
					font-size: 22px;  
				}
				@include mixins.laptop {
					font-size: 25px;  
				}




              }
          }
      }
  }
  
  
/*-------------------------Projects-----------------------*/



.project{
    height:90vh;
    text-decoration: underline;
    padding: 30px 5;
    margin-top: 100px;
    margin-bottom:30vh;
    text-align:left;

    &__container{

        &__heading{

            font-size: 62px;
	        margin-top: 100px;
	        margin-bottom: 40px;
	        padding: 80px 40px;
	        text-align:center;
	        color:white;

                 }

        &__list{
            display:grid;
            grid-template-columns: repeat(auto-fit, minmax(250px ,1fr));
            grid-gap: 40px;
            margin-top: 50px;
            color:black;
           }

        }


}

.project__container__list div{
    background:white;
    padding:40px;
    font-size:13px;
    font-weight:300;
    border-radius:10px;
    transition:background 0.5s, transform 0.5s ;
    color:black;

}
.project__container__list div i{
    font-size: 50px;
    margin-bottom: 30px;
}
.project__container__list h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.project__container__list div a{
    text-decoration: none;
    color:black;
    font-size:12px;
    margin-top:20px;
    display:inline-block;
}
.project__container__list div:hover{
    background:lightblue;
    transform: translateY(-10px);
}


  
/*----------------------Contact Me/Footer------------------------*/

.footer{


width:100%;
height: 200px;
padding: 20px 10%;
text-decoration:underline;
background-color:#ededed;
display:flex;
flex-direction: column;
justify-content:space-between;
align-items: center;
color:#081b29;

@include mixins.phone {
    max-height: 50px;
  padding: 10px 5%;
 }	


&__heading{
    padding: 10px 30%;
    color: #081b29;
}
&__email{

    &__link{

        margin-bottom: 10px;
        font-size: 18px;
        color:#081b29;
        justify-content: center;
        align-items:center;
        flex-direction:row;
        flex-wrap:nowrap;


        @include mixins.phone {
            font-size: 14px;
         }	
         @include mixins.tablet {
            font-size: 15px;
         }	
         @include mixins.landscape-tablet {
            font-size: 16px;
         }	
        
           }
         }
 &__links{

    &__item{

        color:#081b29;
        align-items: center;
        padding-right:15px;
           }
         }        
}
@media screen and (max-width: 600px) {

  
}
